.ct-budget {
    &__header {
        background-image: linear-gradient(rgba(232, 184, 12, 0.46), rgba(247, 214, 124, 0.46)), url('../assets/tripwe-budget.jpg');
        background-size: cover;
        background-position: center;
        height: 20rem;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;

        &--text {
            font-size: 3.5rem;
            color: $color-white;
        }
    }
    &__form {
        padding: 0 10rem;
    }
    &__add {
        background-color: $color-white;
        padding: 1rem 3rem;
        color: $color-primary-gold;
        border: 2px solid $color-primary-gold;
        border-radius: 0.5rem;
        margin-top: 1rem;
        // float: right; 
        &:hover {
            background-color: $color-primary-gold;
            color: $color-white;
        }
    }
}