.group {
    flex: 4;
    margin-right: 3rem;
    margin-top: 2rem;
    &__list {
        list-style: none;
        &--item {
        }
    }
    &__button {
        padding: 1rem 2rem;
        background: none;
        border: 2px solid $color-primary-green;
        border-radius: 5px;
        color: $color-primary-green;
        float: right;
        margin: 2rem 0;
        &:hover {
            background-color: $color-primary-green;
            color: $color-white;
            cursor: pointer;
        }
    }
}