.g-member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left,#7D5A63, #8C6670);
    color: $color-white-2;
    margin: 1.5rem 0;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 0.5rem 1.5rem rgba($color-black, .15);

    &__main {
        display: flex;
        align-items: center;

        &--icon {
            font-size: 3.5rem;
        }

        &--sub {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
            &-details {
                margin-top: 3rem;
            }
        }
    }

    &__flight-info {
        & > * {
            margin: 0 0.5rem;
        }
    }

    &__name {
        font-size: 2rem;
        margin-left: 0.5rem;
    }
    &__dep {
        &--airport {}
        &--icon {}
    }
    &__arr {
        &--airport {}
        &--time {}
    }
    &__flight-num {}

    &__info {
        &--icon {
            font-size: 3.5rem;
        }
    }

}