.group {
    flex: 3;
    margin-right: 3rem;
    margin-top: 2rem;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;
    &__list {
        list-style: none;
        &--item {
        }
    }
    &__button {
        padding: 1rem 2rem;
        background: none;
        border: 2px solid $color-primary-green;
        border-radius: 5px;
        color: $color-primary-green;
        float: right;
        &:hover {
            background-color: $color-primary-green;
            color: $color-white;
            cursor: pointer;
        }
    }
}