.accommodations {
    margin: 4rem 5rem;
    
    &__table {
        background-color: $color-white-2;
        box-shadow: 0 0.5rem 1.5rem rgba($color-black, .15);
        width: 100%;
        &--head {
            background-color: $color-primary-red;
            color: $color-white;
        }
    }
    &__row {
        &--acc {
            text-align: center;
            & > * {
                vertical-align: middle;
                margin: 0 1rem;
            }
        }
        &--users {
            text-align: center;
        }

        &--delete {
            background: none;
            border: none;
            color: $color-primary-red;
            font-size: 2rem;
        }
    }
}

.edit-acc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}