.lp-about {
    &__heading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        background-image: url('../assets/card-header-1.svg');
        background-size: cover;
        background-position: center;

        &--text {
            color: $color-white-2;
            padding: 3.5rem 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 4rem;
        &--icon {
            font-size: 3rem;
        }
        & > * {
            margin-bottom: 1rem;
        }

    }
}