$color-primary-green: #9DA46E;

$color-primary-red: #985D43;

$color-primary-gold: #CDA30A;

$color-primary-blue: #13262B;
$color-secondary-blue: #ECFAFF;

$color-white: #fff;
$color-white-2: #efefef;

$color-black: #000;
$color-grey-dark: #333;