* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    //This defines what 1rem is;
    font-size: 62.5%; //1 rem = 10px; 10px / 16px = 62.5%

    @include respond(big-desktop) {
        font-size: 55%; //1 rem = 12px, 12/16 = 75%
    }
    @include respond(tab-land) {
        font-size: 50%; //1 rem = 9px, 9/16 = 56.25%
    }    
    @include respond(tab-port) {
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    @include respond(phone) {
        font-size: 37.5%; //1 rem = 6px, 6/16 = 37.5%
    }
        
}

body {
    box-sizing: border-box;
    padding: 0rem;
    // height: 200vh;
    //App-specific Default Settings
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    // color: $color-grey-dark;
}


button {
    cursor: pointer;
}

.form-input input {
    background-color: $color-white-2;
    border: 2px solid $color-white-2;
    border-radius: 0.5rem;
    width: 100%;
}

table {
    border-collapse: collapse;
  }

td, 
th {
    border: 1px solid #ddd;
    padding: 0.75rem 0;
}  

fieldset {
    border: 1px solid silver;
    margin-bottom: 3rem;
    // padding: .35rem .625em .75em;
}
legend {
    color: inherit;
    display: table;
    max-width: 100%;
    margin: 1rem;
    white-space: normal;
  }