* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 112.5em) {
    html {
      font-size: 55%; } }
  @media (max-width: 85.375em) {
    html {
      font-size: 50%; } }
  @media (max-width: 60em) {
    html {
      font-size: 50%; } }
  @media (max-width: 40em) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box;
  padding: 0rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7; }

button {
  cursor: pointer; }

.form-input input {
  background-color: #efefef;
  border: 2px solid #efefef;
  border-radius: 0.5rem;
  width: 100%; }

table {
  border-collapse: collapse; }

td,
th {
  border: 1px solid #ddd;
  padding: 0.75rem 0; }

fieldset {
  border: 1px solid silver;
  margin-bottom: 3rem; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  margin: 1rem;
  white-space: normal; }

.form-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .form-modal__overlay {
    background-color: rgba(19, 38, 43, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none; }
  .form-modal:focus {
    outline: 0; }

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 100%;
  text-align: left; }

.card {
  margin: 2rem 5rem;
  padding-bottom: 5rem;
  width: 35rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.lp-login__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  background-image: url("../assets/card-header-2.svg");
  background-size: cover;
  background-position: center; }
  .lp-login__heading--text {
    color: #efefef;
    padding: 3.5rem 0; }

.lp-login__form {
  padding: 0 5rem; }
  .lp-login__form--button {
    background-color: #fff;
    padding: 1rem 2rem;
    color: #9DA46E;
    border: 2px solid #9DA46E;
    border-radius: 0.5rem;
    margin-top: 1rem; }
    .lp-login__form--button:hover {
      background-color: #9DA46E;
      color: #fff; }

.lp-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 90vh;
  max-height: 100vh;
  padding-bottom: 15rem; }
  .lp-main__wave {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
    .lp-main__wave--path {
      fill: #13262B;
      stroke: #13262B; }

.lp-register {
  background-color: #13262B;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20rem 0 30rem;
  position: relative; }
  .lp-register__cta {
    margin: 0 10rem; }
    .lp-register__cta--text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 6rem;
      color: #fff; }
  .lp-register__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    background-image: url("../assets/card-header-3.svg");
    background-size: cover;
    background-position: center; }
    .lp-register__heading--text {
      color: #efefef;
      padding: 3.5rem 0; }
  .lp-register__card {
    background-color: #fff;
    margin: 0 10rem; }
  .lp-register__form {
    padding: 0 5rem; }
    .lp-register__form--button {
      background-color: #fff;
      padding: 1rem 2rem;
      color: #9DA46E;
      border: 2px solid #9DA46E;
      border-radius: 0.5rem;
      margin-top: 1rem; }
      .lp-register__form--button:hover {
        background-color: #9DA46E;
        color: #fff; }
  .lp-register__wave {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
    .lp-register__wave--path {
      fill: #fff;
      stroke: #fff; }

.lp-about__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  background-image: url("../assets/card-header-1.svg");
  background-size: cover;
  background-position: center; }
  .lp-about__heading--text {
    color: #efefef;
    padding: 3.5rem 0; }

.lp-about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem; }
  .lp-about__content--icon {
    font-size: 3rem; }
  .lp-about__content > * {
    margin-bottom: 1rem; }

.lp-hero {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../assets/hero.jpg");
  background-size: cover; }
  .lp-hero__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .lp-hero__heading--text {
      font-size: 8rem;
      color: #efefef;
      margin-bottom: 5rem; }
  .lp-hero__wave {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
    .lp-hero__wave--path {
      fill: #fff; }

.lp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: rgba(239, 239, 239, 0.15); }
  .lp-header__logo {
    margin-left: 1rem; }
    .lp-header__logo--image {
      height: 5rem;
      width: 5rem; }
  .lp-header__buttons > * {
    margin-right: 2rem;
    color: #fff;
    text-decoration: none; }

.lp-footer {
  height: 10rem;
  text-align: center;
  margin-top: 2.5rem;
  font-size: 2rem; }

.dashboard {
  display: flex;
  position: relative; }

.d-content {
  width: 100%;
  margin-left: 26rem;
  margin-bottom: 5rem; }
  .d-content__main {
    display: flex; }
    .d-content__main--sub {
      flex: 4;
      justify-content: center; }

.d-nav {
  background-color: #222;
  width: 26rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; }
  .d-nav__top {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .d-nav__logo {
    margin-left: 2.5rem;
    height: 5rem;
    width: 5rem; }
  .d-nav__logout--button {
    margin-right: 2.5rem;
    color: #efefef;
    background: none;
    border: none;
    font-size: 2rem; }
  .d-nav__list {
    margin: 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none; }
    .d-nav__list--item {
      margin-bottom: 1rem; }
    .d-nav__list--button {
      color: #efefef;
      background: none;
      border: none;
      font-size: 2.5rem; }
  .d-nav__subList {
    list-style: none;
    margin-left: 2rem; }
    .d-nav__subList--button {
      background: none;
      border: none;
      color: #fff;
      font-size: 1.6rem;
      margin: 0.5rem 0; }

.d-header {
  height: 30rem;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
  position: relative; }
  .d-header__countdownDate {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 3rem; }
  .d-header__name {
    font-size: 5rem;
    position: absolute;
    bottom: 0.5rem;
    left: 2rem; }
  .d-header__destination {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    font-size: 3rem; }

.description {
  margin: 4rem 5rem; }
  .description__card {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15); }
    .description__card--header {
      padding: 1rem;
      background-color: #496585;
      color: #fff;
      text-align: center; }
    .description__card--text {
      padding: 1rem 2rem;
      font-size: 1.6rem; }

.map {
  margin: 4rem 5rem; }

.accommodations {
  margin: 4rem 5rem; }
  .accommodations__table {
    background-color: #efefef;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    width: 100%; }
    .accommodations__table--head {
      background-color: #985D43;
      color: #fff; }
  .accommodations__row--acc {
    text-align: center; }
  .accommodations__row--users {
    text-align: center; }

.budget {
  margin: 4rem 5rem; }
  .budget__table {
    background-color: #efefef;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    width: 100%; }
    .budget__table--head {
      background-color: #5D566F;
      color: #fff; }
    .budget__table--toggle {
      background: none;
      color: #fff;
      border: none; }
    .budget__table--total, .budget__table--details {
      margin: 0 1rem; }
    .budget__table--add {
      background: none;
      border: none;
      color: #000; }
    .budget__table--unit {
      text-align: center; }

.plans {
  margin: 4rem 5rem; }
  .plans__table {
    background-color: #efefef;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    width: 100%;
    margin-bottom: 2rem; }
    .plans__table--head {
      background-color: #9DA46E;
      color: #fff; }
    .plans__table--row {
      text-align: center; }
  .plans__add {
    padding: 1rem 2rem;
    background: none;
    border: 2px solid #9DA46E;
    border-radius: 5px;
    color: #9DA46E;
    float: right; }
    .plans__add:hover {
      background-color: #9DA46E;
      color: #fff;
      cursor: pointer; }

.group {
  flex: 4;
  margin-right: 3rem;
  margin-top: 2rem; }
  .group__list {
    list-style: none; }
  .group__button {
    padding: 1rem 2rem;
    background: none;
    border: 2px solid #9DA46E;
    border-radius: 5px;
    color: #9DA46E;
    float: right;
    margin: 2rem 0; }
    .group__button:hover {
      background-color: #9DA46E;
      color: #fff;
      cursor: pointer; }

.g-member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left, #7D5A63, #8C6670);
  color: #efefef;
  margin: 1.5rem 0;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15); }
  .g-member__main {
    display: flex;
    align-items: center; }
    .g-member__main--icon {
      font-size: 3.5rem; }
    .g-member__main--sub {
      display: flex;
      flex-direction: column;
      margin-left: 1rem; }
  .g-member__flight-info > * {
    margin: 0 0.5rem; }
  .g-member__name {
    font-size: 2rem;
    margin-left: 0.5rem; }
  .g-member__info--icon {
    font-size: 3.5rem; }

.d-createNew {
  margin-left: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #13262B; }

.ct-card {
  margin: 2rem 5rem;
  padding-bottom: 5rem;
  width: 55rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-color: #fff; }

.ct-next-skip {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem; }

.next {
  background-color: #fff;
  padding: 1rem 3rem;
  color: #9DA46E;
  border: 2px solid #9DA46E;
  border-radius: 0.5rem;
  margin-top: 1rem; }
  .next:hover {
    background-color: #9DA46E;
    color: #fff; }

.skip {
  background-color: #fff;
  padding: 1rem 3rem;
  color: #985D43;
  border: 2px solid #985D43;
  border-radius: 0.5rem;
  margin-top: 1rem; }
  .skip:hover {
    background-color: #985D43;
    color: #fff; }

.ct-main__header {
  background-image: linear-gradient(rgba(157, 164, 110, 0.62), rgba(20, 103, 63, 0.62)), url("../assets/tripwe-create.jpg");
  background-size: cover;
  height: 20rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .ct-main__header--text {
    font-size: 3.5rem;
    color: #fff; }

.ct-main__form {
  padding: 0 10rem; }

.ct-buildGroup__header {
  background-image: linear-gradient(rgba(152, 93, 67, 0.47), rgba(133, 34, 34, 0.47)), url("../assets/tripwe-build-groups.jpg");
  background-size: cover;
  background-position: center;
  height: 20rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .ct-buildGroup__header--text {
    font-size: 3.5rem;
    color: #fff; }

.ct-buildGroup__form {
  padding: 0 10rem; }

.ct-buildGroup__add {
  background-color: #fff;
  padding: 1rem 3rem;
  color: #CDA30A;
  border: 2px solid #CDA30A;
  border-radius: 0.5rem;
  margin-top: 1rem; }
  .ct-buildGroup__add:hover {
    background-color: #CDA30A;
    color: #fff; }

.ct-flight__header {
  background-image: linear-gradient(rgba(0, 81, 108, 0.5), rgba(183, 237, 255, 0.5)), url("../assets/tripwe-flight-info.jpg");
  background-size: cover;
  height: 20rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .ct-flight__header--text {
    font-size: 3.5rem;
    color: #fff; }

.ct-flight__form {
  padding: 0 10rem; }
  .ct-flight__form--depart, .ct-flight__form--return {
    display: flex;
    flex-wrap: wrap; }
  .ct-flight__form--unit {
    margin: 0.5rem 1rem; }
  .ct-flight__form--airportSearch {
    width: 100%; }

.ct-acc__header {
  background-image: linear-gradient(rgba(156, 82, 202, 0.74), rgba(187, 183, 255, 0.74)), url("../assets/tripwe-acc.jpg");
  background-size: cover;
  background-position: center;
  height: 20rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .ct-acc__header--text {
    font-size: 3.5rem;
    color: #fff; }

.ct-acc__form {
  padding: 0 10rem; }

.ct-budget__header {
  background-image: linear-gradient(rgba(232, 184, 12, 0.46), rgba(247, 214, 124, 0.46)), url("../assets/tripwe-budget.jpg");
  background-size: cover;
  background-position: center;
  height: 20rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .ct-budget__header--text {
    font-size: 3.5rem;
    color: #fff; }

.ct-budget__form {
  padding: 0 10rem; }

.ct-budget__add {
  background-color: #fff;
  padding: 1rem 3rem;
  color: #CDA30A;
  border: 2px solid #CDA30A;
  border-radius: 0.5rem;
  margin-top: 1rem; }
  .ct-budget__add:hover {
    background-color: #CDA30A;
    color: #fff; }

.ct-plans__header {
  background-image: linear-gradient(rgba(10, 103, 73, 0.5), rgba(72, 179, 144, 0.5)), url("../assets/tripwe-plans.jpg");
  background-size: cover;
  background-position: center;
  height: 20rem;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .ct-plans__header--text {
    font-size: 3.5rem;
    color: #fff; }

.ct-plans__form {
  padding: 0 10rem; }
  .ct-plans__form--unit {
    display: flex;
    flex-direction: column;
    margin: 1rem 0; }
  .ct-plans__form--button {
    padding: 1rem 2rem;
    background: none;
    border: 2px solid #9DA46E;
    border-radius: 5px;
    color: #9DA46E;
    margin: 1rem 0; }
    .ct-plans__form--button:hover {
      background-color: #9DA46E;
      color: #fff;
      cursor: pointer; }
